/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow-x: hidden;
}

.homebg {
  background-image: url(tanishbg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  display: flex;
  backdrop-filter: blur(10px);
  position: relative; 
  z-index: 10; 
}

.navleft {
  width: 50%;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
}

.navleft h1 {
  padding: 20px;
  margin-left: 60px;
  color: white;
}

.navright {
  width: 50%;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

.navright ul {
  display: flex;
  justify-content: space-around;
}

.navright ul li {
  list-style: none;
  font-size: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.left {
  margin: 15vw;
}

/* Card Styles */
.card {
  display: inline-block;
  margin-left: 9vw;
  color: white;
  margin-bottom: 5vh;
  padding: 20px;
  width: 20vw;
  min-width: 300px;
  min-height: 200px;
  height: 20vh;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.card h2 {
  display: flex;
  justify-content: center;
  margin-top: 25%;
  text-shadow: 0px 0px 20px black;
}

.card:hover {
  background-size: 500px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  backdrop-filter: blur(10px);
  width: 100vw;
  text-align: center;
}

video {
  width: 500px;
}
.collage-head {
  text-align: center;
  margin: 10px;
}

.collageparent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.collage-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  padding: 10px;
  max-width: 1200px;
  width: 100%;
  
}

.collage-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collage-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.collage-item img:hover {
  transform: scale(1.3);
}

@media (max-width: 3500px) {
  nav ul li {
    font-size: 16px;
  }
  
  .navright ul {
    display: flex;
    justify-content: space-around;
  }
  
  video {
    width: 100%;
    max-width: 400px;
  }
  
  .parentdiv {
    display: flex;
    flex-wrap: nowrap;
    margin: 2vw;
  }
  
  .aboutleft {
    width: 50%;
    height: 500px;
    display: flex;
  }
  .imagebox {
    width: 50%;
    height: 100%;
    margin-left: 10vw;
    border: 10px solid white;
    border-radius: 20px;
    position: relative; 
    z-index: 1; 
  }
  
  .imagebox img {
    background-image: url(tanishdp.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: translate(20px, 20px);
    position: relative; 
    z-index: 0;
  }
  
  .aboutright {
    width: 50%;
  }
  .aboutright h1{
    margin: 0 auto;
  }
  #p1 {
    width: 70%;
  }
  .collage-container{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
  .collage-item{
    border-radius: 8px;
  }
  .collage-item img{
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  
  ul {
    position: fixed; /* Ensure ul is fixed */
    width: 100vw;
    height: 40vh;
    font-size: 30px;
    background-color: black;
    opacity: 80%;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1000; 
  }
  
  .navright ul {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  
  #check:checked ~ ul {
    left: 0;
  }

  video {
    width: 350px;

  }
  main , nav , footer{
    max-width: 100%;
  }
  main{
    margin-bottom: 110px;
  }
  .parentdiv {
    display: block;
    margin: 10px;
    max-width: 100vw;
  }
  
  .aboutleft {
    width: 100%;
    height: 350px;
  }
  .imagebox{
    width: 100%;
    max-width: 300px;
    border: none;
    margin: 0 auto;
  }
  .imagebox img {
    position: relative;
    width: 100%;
    height: auto; 
    z-index: 0; 
    transform: none;
  }
  
  .aboutright {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 110px;
  }
  
  #p1 {
    width: 90%;
    margin: 5vw;
    text-align: left;
  }
  .collage-container{
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    overflow: hidden;
  }
  .collage-item{
    border-radius: 5px;
  }
  .collage-item img{
    height: auto;
    object-fit: cover;
  }
  
}

.next {
  display: inline;
  height: 20px;
  width: 100px;
  text-align: center;
  border: 2px solid grey;
  margin-bottom: 120px;
  float: right;
  margin-right: 5vw;
}

.previous {
  display: inline;
  height: 20px;
  width: 100px;
  text-align: center;
  border: 2px solid grey;
  margin-bottom: 120px;
  float: left;
  margin-left: 5vw;
}
